* {
  margin: 3px;
  padding: 3px;
}

.backButton {
  background-color:steelblue;
  padding: 12px 24px;
  position: absolute;
  top: 10%;
  left: 10%;
  transition-duration: 0.4s;
  color: black;
  text-decoration: none;
  border: #092e72 solid 2px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 200px; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

#button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  gap: 25px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 150px 150px 150px;
  column-gap: 100px;
}

.savedButton {
  margin: auto;
}

.darkThemeCheckbox {
  appearance: none;
  border-radius: 50%;
  background: lightblue;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition-duration: 0.6s;
}

.darkThemeCheckbox:checked {
  background: rgb(5, 0, 144);
}